<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeonju-Pos</title>
    <style>
        .side_container{position:fixed; top: 150px; right:20px; width: 5%; height: 500px;}
        .side_container .side_item{width:100%; height: 10%; border:1px solid lightgray; border-radius:10px; margin-bottom: 15px; box-shadow: 0px 2px 6px rgba(0,0,0,0.4);}
        .side_container .side_item .item_name{text-align:center; margin-top: 10%;}
    </style>
</head>
<body>
    <section class="side_container">
        <div class="side_item">
            <p class="item_name">영수증 관리</p>
        </div>
        <div class="side_item">
            <p class="item_name">판매현황</p>
        </div>
        <div class="side_item">
            <p class="item_name">매출관리</p>
        </div>
        <div class="side_item">
            <p class="item_name">오늘의 메뉴</p>
        </div>
        <div class="side_item">
            <p class="item_name">메뉴관리</p>
        </div>
    </section>
</body>
</html>